packaging_format = 2

id = "digitools"
name = "Digitools"
description.en = "Simple and useful tools for the classroom"
description.fr = "Des outils simples et utiles pour la classe"

version = "0.5.2~ynh1"

maintainers = ["Pierre-Amiel Giraud"]

[upstream]
license = "GPL-3.0-only"
website = "https://ladigitale.dev/"
demo = "https://ladigitale.dev/digitools/"
admindoc = "https://codeberg.org/ladigitale/digitools/src/branch/main/README.md"
userdoc = "https://ladigitale.dev/blog/digitools-des-outils-simples-et-utiles-pour-la-classe"
code = "https://codeberg.org/ladigitale/digitools"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "100M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/digitools"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]
        [resources.sources.main]
        url = "https://codeberg.org/ladigitale/digitools/archive/0.5.2.tar.gz"
        sha256 = "8735e773ea130238dd1a51bb8437442583a98d3f482e62d88a512155da2e1874"
        autoupdate.strategy = "latest_forgejo_release"

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = "php8.2-sqlite3"
